@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/footer.css);
@import url(../blocks/form.css);
@import url(../blocks/header.css);
@import url(../blocks/nav.css);
@import url(../blocks/recipes.css);
@import url(../blocks/reservation.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter Noto Serif", sans-serif, Arial, Helvetica, serif,
    "Times New Roman";
  background-color: #ffffff;
}

.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin-top: 30px;
  padding-left: 30px;
}
.nav__links {
  padding: 30px;
  margin-right: 80px;
  column-gap: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-family: "inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
  max-width: 709px;
  padding-left: 80px;
  margin: 183px 0 28px;
}
.header__description {
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-left: 80px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #838383;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 80px;
  margin-bottom: 40px;
}

.header__paragraph {
  justify-content: space-between;
  margin-right: 80px;
}

.content {
  background-color: #0a2750;
  position: relative;
}

.recipes {
  background-image: url(../images/background_recipes.svg);
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  max-width: 580px;
  padding: 100px 0 0 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  max-width: 438px;
  margin: 24px 0 80px 80px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  margin-top: 80px;
  padding-bottom: 215px;
  list-style-type: none;
}
.recipes__video-item {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding-bottom: 125px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__video-caption {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding-bottom: 125px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reservation__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  margin: 0 auto 80px;
}

.reservation__form {
  margin: 0 auto 120px;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  border: none;
}

.form__label {
  margin-bottom: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: flex-start;
}

.form__input {
  height: 60px;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 385px;
  width: 100%;
  margin-bottom: 32px;
  padding: 15px 20px 15px 20px;
}
.button:hover {
  opacity: 0.7;
  background-color: #838383;
}
.form__buttom {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 385px;
  height: 60px;
  color: #ffffff;
  border-radius: 4px;
  background-color: #2f80ed;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: 0;
  width: 100%;
}

.form__checkbox {
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  border-radius: 2px;
}

input[type="checkbox"] {
  margin-right: 12px;
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
}
input::placeholder {
  color: #838383;
}

.footer {
  background-color: #0a2850;
  position: relative;
  overflow: hidden;
}

.footer__circle {
  width: 340px;
  height: 340px;
  background-color: #2f80ed;
  border-radius: 100%;
  position: absolute;
  top: -128px;
  left: -44px;
  z-index: 0;
}
.footer__content {
  padding: 60px 80px 180px 80px;
}

.footer__logo {
  position: absolute;
  z-index: 1;
}
.footer__social {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__social-heading {
  margin-bottom: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.footer__list-item {
  margin-bottom: 16px;
}

.footer__social-link {
  color: #ffffff;
  text-decoration: none;
}
.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__copyright {
  color: #ffffff;
  margin: 0 0 60px 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
